if hexo-config('preloader.enable')
  if hexo-config('preloader.load_style') == 'image'
    @import './_load_style/image'
  else if hexo-config('preloader.load_style') == 'wizard'
    @import './_load_style/wizard'
  else if hexo-config('preloader.load_style') == 'spincat'
    @import './_load_style/spincat'
  else if hexo-config('preloader.load_style') == 'nyancat'
    @import './_load_style/nyancat'
  else
    @import './_load_style/default'