#loading-box
  .loading-left-bg
  .loading-right-bg
  .cat__scene
    .cat__main
      .cat__body
      .cat__body
      .cat__tail
      .cat__head
script.
  (()=>{
    const $loadingBox = document.getElementById('loading-box')
    const $body = document.body
    const preloader = {
      endLoading: () => {
        $body.style.overflow = ''
        $loadingBox.classList.add('loaded')
        setTimeout(() => {
          $loadingBox.style.display = 'none'
        }, 800)
      },
      initLoading: () => {
        $loadingBox.style.display = 'flex'
        $loadingBox.classList.remove('loaded')
        $body.style.overflow = 'hidden'
      }
    }

    preloader.initLoading()
    
    // 设置20秒超时
    const loadingTimeout = setTimeout(() => {
      preloader.endLoading()
    }, 20000)
    
    window.addEventListener('load', () => {
      clearTimeout(loadingTimeout)
      preloader.endLoading()
    })

    if (!{theme.pjax && theme.pjax.enable}) {
      btf.addGlobalFn('pjaxSend', preloader.initLoading, 'preloader_init')
      btf.addGlobalFn('pjaxComplete', preloader.endLoading, 'preloader_end')
    }
  })()