/* 调整目录栏最大高度并启用滚动条 */

#aside-content #card-toc .toc-content {
    overflow-y: scroll;
    overflow-y: overlay;
    margin: 0 -24px;
    max-height: calc(100vh - 380px);
    width: calc(100% + 48px);
}

.post-message-container .post-message p {
    color: white !important;
}

body{
    color: #65ffff !important;
}

/* p{
    color: white !important;
} */