.post {
  background-image: url(https://raw.githubusercontent.com/XBXyftx/hexoimgs/main/c328dc6de32882b3f04a65e5441a458.jpg);  // 替换为你的图片路径
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}