// 强制设置文章页背景图片
.post {
  background-image: url(https://raw.githubusercontent.com/XBXyftx/hexoimgs/main/900247ffdbd5983232e2694bd6f5f1f.jpg) !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: fixed !important;
}